* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#root {
    margin: 0 auto;
    text-align: center;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

body {
    background-image: url('C:\Users\maxwe\source\repos\BsBakerySPA\bsbakeryspa.client\public\paper-background.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-family: "Nothing You Could Do", cursive;
    color: black;
}

.nothing-you-could-do-regular {
    font-family: "Nothing You Could Do", cursive;
    font-weight: 400;
    font-style: normal;
}

.app {
    text-align: center;
    font-family: "Nothing You Could Do", cursive;
}

/* App.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.0);
    padding: 1rem 2rem;
    padding-right: 8rem;
    z-index: 1000; /* Ensure the navbar is above other content */
    transition: top 0.4s ease-in-out, background 0.4s ease-in-out, padding-right 0.4s ease-in-out;
}

.navbar-scrolled {
    top: 0;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background when scrolled */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-right: 2rem;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.logo {
    height: 220px;
    width: 220px;
    border-radius: 50%;
    border: 2px solid #966F33;
    margin-right: 2rem;
    transition: height 0.4s ease-in-out, width 0.4s ease-in-out;
}

.logo-scrolled {
    height: 50px;
    width: 50px;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}

    .nav-menu li {
        display: inline;
    }

    .nav-menu a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
        font-size: 2.1rem;
        transition: font-size 0.4s ease-in-out;
    }

    .nav-menu-scrolled a {
        font-size: 1.4rem;
    }

        .nav-menu a:hover {
            color: #c7a673;
        }

.navbar-right {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.icon {
    font-size: 1.5rem;
    cursor: pointer;
    color: #966F33;
}

    .icon:hover {
        color: #c7a673;
    }

.homeSpacer {
    height: 200px; /* Adjust this value based on your navbar height */
}

.heroTitle {
    display: flex;
    flex-direction: column;
}

.title {
    height: 120px;
    width: 120px;
    position: relative;
}
.heroText {
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: relative;
}
    .heroText p {
        margin: 0;
        font-size: 1.4rem;
    }
.bakedGoods {
    padding: 2rem;
    width: 80vw;
    height: 100%;
    margin-top: -200px;
}

.content {
    padding: 2rem;
    padding-top: 100px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 2200px;
    width: 80vw;
}
