#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

body {
    background-image: url('C:\Users\maxwe\source\repos\BsBakerySPA\bsbakeryspa.client\public\paper-background.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-family: "Nothing You Could Do", cursive;
    color: #966F33;
}

.nothing-you-could-do-regular {
    font-family: "Nothing You Could Do", cursive;
    font-weight: 400;
    font-style: normal;
}

.app {
    text-align: center;
    font-family: "Nothing You Could Do", cursive;
}

.options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.option {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

    .option h2 {
        margin: 0 0 8px;
    }

    .option p {
        margin: 0 0 16px;
    }

    .option .special {
        color: #ff6347;
        font-weight: bold;
    }

    .option button {
        background-color: #ff6347;
        color: white;
        border: none;
        padding: 8px 16px;
        border-radius: 4px;
        cursor: pointer;
    }

        .option button:hover {
            background-color: #ff4500;
        }
