* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#root {
    margin: 0 auto;
    text-align: center;
}

body {
    background-image: url('C:\Users\maxwe\source\repos\BsBakerySPA\bsbakeryspa.client\public\paper-background.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-family: "Nothing You Could Do", cursive;
    color: black;
}

.nothing-you-could-do-regular {
    font-family: "Nothing You Could Do", cursive;
    font-weight: 400;
    font-style: normal;
}

.app {
    font-family: "Nothing You Could Do", cursive;
    text-align: center;
}

/* App.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.0);
    padding: 1rem 2rem;
    padding-right: 8rem;
    z-index: 1000; /* Ensure the navbar is above other content */
    transition: top 0.4s ease-in-out, background 0.4s ease-in-out, padding-right 0.4s ease-in-out;
}

.navbar-scrolled {
    top: 0;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background when scrolled */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-right: 2rem;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.logo {
    height: 220px;
    width: 220px;
    border-radius: 50%;
    border: 2px solid #966F33;
    margin-right: 2rem;
    transition: height 0.4s ease-in-out, width 0.4s ease-in-out;
}

.logo-scrolled {
    height: 50px;
    width: 50px;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}

    .nav-menu li {
        display: inline;
    }

    .nav-menu a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
        font-size: 2.1rem;
        transition: font-size 0.4s ease-in-out;
    }

    .nav-menu-scrolled a {
        font-size: 1.4rem;
    }

        .nav-menu a:hover {
            color: #c7a673;
        }

.navbar-right {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.icon {
    font-size: 1.5rem;
    cursor: pointer;
    color: #966F33;
}

    .icon:hover {
        color: #c7a673;
    }

/* Home Section */
.home {
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.heroContainer {
    position: relative;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homeSpacer {
    height: 0px; /* Adjust this value based on your navbar height */
}

.heroTitle {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 20px;
}

.bakedGoods {
    min-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
    max-width: 80%;
    margin-top: 400px;
}

#homeBottomText {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#arrowDownIcon {
    font-size: 1.5rem;
    color: black;
    padding-left: 10px;
    font-weight: 100;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.heroText {
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: relative;
    color: black;
}
    .heroText p {
        margin: 0;
        font-size: 1.4rem;
    }

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80vw;
    margin: 2rem auto;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the content */
    margin-bottom: 2rem;
}

    .menu-item:nth-child(even) {
        flex-direction: row-reverse;
    }

.menu-image {
    width: 240px; /* Increase the size of the images */
    height: auto;
    margin: 0 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-text {
    flex: 1;
    text-align: left;
    margin: 0 auto; /* Center the text container */
    max-width: 600px; /* Optional: Set a max width for the text container */
}

    .menu-text h2 {
        margin: 0 0 1rem;
        font-size: 2rem;
        color: #333;
    }

    .menu-text p {
        margin: 0 0 1rem;
        font-size: 1.2rem;
        color: #666;
    }

    .menu-text ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .menu-text ul li {
            margin-bottom: 0.5rem;
            font-size: 1.2rem;
            color: #666;
        }