* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#root {
    margin: 0 auto;
    text-align: center;
}

body {
    background-image: url('C:\Users\maxwe\Documents\Github Directories\BsBakerySPA\bsbakeryspa.client\public\paper-background.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-family: "Nothing You Could Do", cursive;
    color: black;
}

.nothing-you-could-do-regular {
    font-family: "Nothing You Could Do", cursive;
    font-weight: 400;
    font-style: normal;
}

.app {
    font-family: "Nothing You Could Do", cursive;
    text-align: center;
}

button {
    font-family: "Nothing You Could Do", cursive;
}