.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.0);
    padding: 1rem 2rem;
    padding-right: 8rem;
    z-index: 1000;
    transition: top 0.4s ease-in-out, background-color 0.4s ease-in-out, padding-right 0.4s ease-in-out;
}

.navbar-scrolled {
    top: 0;
    background-color: rgba(255, 255, 255, 0.8); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-right: 2rem;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.logo {
    height: 220px;
    width: 220px;
    border-radius: 50%;
    border: 2px solid #966F33;
    margin-right: 2rem;
    transition: height 0.4s ease-in-out, width 0.4s ease-in-out;
}

.logo-scrolled {
    height: 50px;
    width: 50px;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}

    .nav-menu li {
        display: inline;
    }

    .nav-menu a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
        font-size: 2.1rem;
        transition: font-size 0.4s ease-in-out;
    }

    .nav-menu-scrolled a {
        font-size: 1.4rem;
    }

        .nav-menu a:hover {
            color: #c7a673;
        }

.navbar-right {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.welcome-message {
    font-size: 1.3rem;
    color: #333;
    margin-right: 1rem;
}

.icon {
    font-size: 1.5rem;
    cursor: pointer;
    color: #966F33;
}

    .icon:hover {
        color: #c7a673;
    }