.payment-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    padding: 20px;
    overflow-y: hidden;
}

.payment-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    outline: 1px black solid;
    padding: 20px;
    max-width: 600px; 
    max-height: 50vh;
    width: 100%;
    text-align: center;
}

.payment-container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.payment-actions {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}

.payment-actions button {
    background-color: #e9ecef; 
    color: #343a40;
    border: 1px solid #ced4da; 
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease, border-color 0.2s ease;
}

.payment-actions button:hover {
    background-color: #dee2e6;
    border-color: #adb5bd;
}

.payment-actions button:nth-child(2) {
    background-color: #ff9800;
    color: white;
    border-color: #ff9800;
}

.payment-actions button:nth-child(2):hover {
    background-color: #e68900;
    border-color: #e68900;
}

.payment-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.payment-modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 90%;
    text-align: center;
}

.payment-modal-content h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #333;
}

.payment-modal-content p {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #555;
}

.payment-modal-content button {
    background-color: #dddddd;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease;
}

.payment-modal-content button:hover {
    background-color: #ffd9c3;
}

#save-receipt-button {
    background-color: #ff9800;
    color: rgb(255, 255, 255);
}

#save-receipt-button:hover {
    background-color: #e68900;
}